.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer--text {
    margin-right: 7%;
    margin-left: 7%;
}

.footer .footer--icons {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

.footer .footer--icon {
    margin-right: 30%;
}